################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/WorkItemProcessor/.vs/WorkItemProcessor
/src/WorkItemProcessor/bin/Debug/net7.0
/src/WorkItemProcessor/obj
