################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/PaymentFileProcessor/.vs/PaymentFileProcessor
/src/PaymentFileProcessor/bin/Debug/net7.0
/src/PaymentFileProcessor/obj
